@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background-color: #FDFFFC;
  color: #141414;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  background-color: #BCECFC;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.3s;
}

a:hover {
  background-color: #3194b5;
  color: #FDFFFC;
}

i[class^="fa"] {
  color: var(--gray);
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.container {
  width: 70%;
  margin: 5em auto;
  max-height: 80%;
  overflow: hidden;
}

.contents {
  width: 60%;
}

.contents p:not(:last-child) {
  margin-bottom: 1em;
}

.social-media {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 2em;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.social-media img:hover {
  cursor: pointer;
}

ul {
  padding-left: 1em;
  padding-bottom: 1em;
}

li {
  list-style-type: disc;
}

@media only screen and (max-width: 1380px) {
  .contents {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .contents {
    width: 100%;
  }
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg);
  }

  10% {
    transform: rotate(14.0deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg);
  }

  30% {
    transform: rotate(14.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50% {
    transform: rotate(10.0deg);
  }

  60% {
    transform: rotate(0.0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg);
  }
}