.general-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card {
}

.blog-title {
  margin: 0 0 15px;
}

.subtitle {
  display: flex;
  justify-content: space-between;
}

.subtitle h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: gray;
}

.excerpt {

}

.tags {
  display: flex;
  margin-bottom: 15px;
}

.tags div {
  display: flex;
  padding: 5px 10px;
  background-color: #E0F2F1;
  color: #424242;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.tags div svg {
  margin-right: 5px;
}

.tags div:not(:first-child) {
  margin-left: 10px;
}

