.general-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card {
}

.blog-title {
  margin: 0 0 15px;
}

.subtitle {
  display: flex;
  justify-content: space-between;
}

.subtitle h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: gray;
}

.excerpt {

}


