.listing {
}

.content h2, .content h3 {
  margin-top: 0;
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.links a:not(:last-child) {
  margin-bottom: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex-basis: 30%;
}

.main-content {
  flex-basis: 60%;
}
