.links {
  a {
    @apply block font-normal;
  }

  a:not(:last-child) {
    @apply mb-1;
  }
}

.contact {
  a {
    @apply flex items-end flex-row-reverse font-normal;
  }

  a:not(:last-child) {
    @apply mb-1;
  }

  svg {
    @apply w-6 h-6 ml-2;
  }
}

.links strong, .contact strong {
  @apply block mb-4;
}

.recent-box {
  h1 {
    @apply text-text;
  }

  h2 {
    @apply text-gray m-0 mb-1 font-normal;
  }

  .view-all {
    @apply block mb-5;
  }
}

.recent-box:not(:last-child) {
  @apply mb-10;
}

@media screen and (max-width: 950px) {
  .main-container {
    flex-direction: column;
  }

  .main-container .left,
  .main-container .right {
    width: 100%;
  }

  .main-container .left {
    text-align: center;
    margin-bottom: 2em;
  }

  .main-container .left .contact a span {
    display: none;
  }

  .main-container .left img {
    width: 20%;
    height: 20%;
  }

  .main-container .left .links a,
  .main-container .left .contact a {
    display: inline-block;
  }

  .main-container .left .links a:not(:last-child) {
    margin-right: 1em;
  }

  .main-container .left .contact svg {
    width: 3em;
    height: 3em;
    margin: 0;
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 512px) {
  .links, .contact {
    flex-direction: column;
  }

  .links {
    margin-bottom: 15px;
  }
}
