.subtitle {
  margin-top: 0;
  color: var(--gray);
}

.tags h4 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tags h4 svg {
  margin-right: 15px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tags span {
  padding: 5px 10px;
  background-color: #5bc0be;
  color: var(--fg-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.tags span:not(:last-child) {
  margin-right: 10px;
}
