.home-container {
  height: 100vh;
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.main-container {
  margin-right: 30px;
}

.links, .contact {
  display: flex;
}

.links {
  margin-bottom: 15px;
}

.links a:not(:last-child),
.contact a:not(:last-child),
.links strong,
.contact strong {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .home-container {
    max-width: 500px;
  }
}

@media screen and (max-width: 512px) {
  .home-container {
    max-width: 400px;
  }

  .links, .contact {
    flex-direction: column;
  }

  .links {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 420px) {
  .home-container {
    max-width: 300px;
  }
}
