.navigation .buttons {
  display: flex;
  justify-content: space-between;
}

.navigation .buttons p {
  display: flex;
  max-width: 450px;
  border-radius: 5px;
  margin-bottom: 0;
}

.navigation .buttons p a {
  display: flex;
  align-items: center;
  color: black;
}

@media screen and (max-width: 768px) {
  .navigation .buttons {
    flex-direction: column;
  }

  .navigation .buttons p:first-child {
    margin-bottom: 15px;
    align-self: flex-start;
  }

  .navigation .buttons p:last-child {
    align-self: flex-end;
  }
}
