.navigation hr {
  margin-top: 30px;
}

.navigation .buttons {
  display: flex;
  justify-content: space-between;
}

.navigation .buttons p {
  display: flex;
  max-width: 450px;
  padding: 8px 15px;
  background-color: rgba(211, 211, 211, 0.7);
  border-radius: 5px;
}

.navigation .buttons p a {
  display: flex;
  align-items: center;
  color: black;
}
